
.header{
    box-sizing: border-box;
    width: 1100px;
    min-height: 200px;
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    margin: auto;
}

.header__links-list{
    min-width: 391.48px;
    display: flex;   
    list-style-type: circle;    
    justify-content: space-between;
    margin: 133px 42px 138px 50px ;
}

.header__link{
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    text-decoration: none;
    border-bottom: solid black 1px; 
}

.header__logo{
    display: block;
    width: 148px;
    height: 105px;

}


.header__links-list-item_no-bullit .header__link{
    text-decoration: none;
    border-bottom: 0;
}

.header__links-list-item_no-bullit{
    list-style: none;
}
.phone{
    text-decoration: none;
    border-bottom: solid black 1px;
}
.email{
    text-decoration: none;
    border-bottom: solid black 1px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 0;
}

.header__address{
    margin-right: 50px;
     max-width: 240px;
     justify-self:end;
     display: flex;
     flex-direction: column;
     align-items: flex-start;
     font-style: normal;
     font-family: 'Raleway';
     font-weight: 400;
     font-size: 18px;
     line-height: 24px;
}


.cover{
    position: relative;
    width: 1100px;
    min-height: 700px;
    background-image: url(../images/cover.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 1;

}

.bet-button{
   background-color: transparent;
   border: 1px solid #FFFFFF;
    font-size: 22px;
    line-height: 26px;
    color: #FFFFFF;
    text-transform: uppercase;
    padding: 12px 32px;
}

.description{
    align-self: center;
    min-width: 1000px;
    z-index: 2;
    display: flex;
    align-items: end;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 49px;
}

.cover__title{
    color: #FFFFFF;
    z-index: 2;
    font-family: 'Raleway', sans-serif;
    margin-bottom: 107px ;
    text-transform: uppercase;
    line-height: 1.15;
    font-weight: 700;
    font-size: 100px;
    max-width: 1000px;
    max-height: 385px; 
    margin: 165px 50px 107px 50px;
}

.aligned-text{
    display: flex;
    flex-direction: column;
}

.aligned-text_left{
    align-self: start;
}

.aligned-text_center{
   text-align: center;
}

.aligned-text_right{
    display: flex; 
    align-items: end;
}

.aligned-text_right>span{
    width: 387px;  
    margin-right: 10px;
}

.letter-spacing-extended{
letter-spacing: 0.3em;
}

.cover__description-text{
    font-size: 22px;
    line-height: 28px;
    text-transform: uppercase;
    color: #FFFFFF;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 300;
    word-spacing: 18px;

}

.lots{
     padding-top: 180px;
     min-width: 1000px;
}

.lots__heading{
    display: inline-block;
    margin-left: 64px;
    width: 121px;
    height: 47px;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    text-transform: uppercase;
    color: #000000;

} 


.lots__card-list{

     list-style: none;
     display: flex;
     flex-wrap: wrap;
     gap:25px;
     padding: 0;
     margin: 0 24px;
}

.lots__card-list-item{
    min-height: 596px;
    width: 334px;
    padding-top: 27px;
}

.card-link{
    height: 100%;
    display: block;
    text-decoration: none;
}

.card{
    min-height: 595px;
    min-width:  334px;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-size: cover;
    background-position: center;
}

.card_type_film{
    background-image: url(../images/card-lot-01.jpg);
}

.card_type_book{
    background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture{
    background-image: url(../images/card-lot-03.jpg);
}

.card__title{
  color: white;
  font-size: 22px;
  text-transform: uppercase;
  z-index: 2;
  padding: 48px 40px 0 48px;
  text-decoration-line: underline;

}

.card__text{
    color: white;
    font-size: 20px;
    z-index: 2;
    margin-bottom: 48px ;
    margin-left: 40px;
    margin-right: 40px;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 300;
    line-height: 120%;      

}


.lots__more-button{
    text-decoration: none;
    border-bottom: solid black 1px;
   display: inline-block;
   margin-top: 30px;
   margin-left: 40px;
}

.about{
    padding: 120px 24px 180px 24px;
    display: grid;
    grid-template-columns: 334px 1fr;
    gap: 72px;
    margin: 0 auto 180px;
    max-width: 1100px;
}

.about__logo {

    width: 240px; 
    height: 240px; 
    border-radius: 50%; 
    background-color: #000; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    margin: 0 auto;
    margin-top: 35px; 

 } 

.about__logo-image {
    object-fit: contain; 
    width: 148px;
    height: 114px; 
}

.about__column{
    width: 693px;
    height: 595px;
}

.about__title {
    font-family: 'Raleway', sans-serif; 
    font-size: 40px;
    font-weight: 700;
    line-height: 47px;
    text-transform: uppercase;
    color: #000;
    margin-top: 133px; 
    margin-bottom: 100px; 
   
}


.about__text {
    max-width: 693px;
    display: flex;
    flex-direction: column; 
    gap: 24px;
    font-family: 'Raleway', sans-serif; 
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    color: #000;
}

.about__text-first{    
    max-width: 688px;}


.footer__grid-container{
    display: grid;
     grid-template-columns: 1fr auto 1fr;
    gap: 72px;
    max-width: 1100px;
    height: 180px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer__address{
    display: flex;
    flex-direction: column;
    font-style: normal;
    font-family: 'Raleway';
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
}

.address__phone{
    width: fit-content;
}

.address__email{
    width: fit-content;
}

.footer__menu{
    text-align: center;

}


.footer__menu-list {
    list-style: none; 
    padding: 0; 
    margin: 0; 
    display: flex;
    flex-direction: column; 
    gap: 5px; 
}

.footer__menu-link{
    text-decoration: none;
    border-bottom: solid black 1px;
}

.footer__menu-link_active{
    text-decoration: none;
    border-bottom: 0;}   

.footer__social-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex; 
    justify-content: flex-end; 
    gap: 48px; 
    align-items: flex-start; 
}

.footer__social-link {
    display: block; 
}

.footer__social-icon {
    width: 48px; 
    height: 48px; 
}




